* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    width: 100dvw;
}

/* header that contain the logo section , the nav and the welcome message */
header {
    width: 100dvw;
    background-color: var(--darkGrey);
}

/* nav contain call number , the logo , cart and the reservation */
#top-nav {
    width: 100dvw;
    height: 35dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px clamp(20px, 8dvw, 200px);
}

#logo {
    max-width: 25dvw;
    min-width: 200px;
}

#cart {
    width: clamp(18px, 2vw, 25px);
    margin: 0 10px;
    padding: 0;
    transform: translateY(5px);

}


#phoneNumber {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--fontWhite);
    background-color: transparent;
    border: 2px solid var(--orange);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#phoneNumber:hover {
    color: var(--orange);
    background-color: var(--lightGrey);
    border: solid var(--fontWhite);
    border-radius: 10px;

}

#reservation {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--fontBlack);
    background-color: var(--orange);
    border: none;
    transition: all 0.2s ease-in-out;

}

#reservation:hover {
    color: var(--fontWhite);
    background-color: var(--lightGrey);
    border: none;
    border-radius: 10px;
}

/* nav bar have two sections UL with all pages and a media section */
nav {
    padding: 21px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3dvw;
    border-top: 2px solid var(--lightGrey);
    border-bottom: 2px solid var(--lightGrey);
}

/* UL */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    color: var(--fontWhite);
    margin: 1.3dvw;
    position: relative;

}

nav ul li a::before,
nav ul li a::after {
    content: "";
    height: 1px;
    width: 0;
    background-color: var(--orange);
    position: absolute;
    transition: all 0.1s ease-in-out;
}

nav ul li a::before {
    top: -10px;
    left: 0;
}

nav ul li a::after {
    bottom: -10px;
    right: 0;
    transform: rotate(180deg);
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 100%;
}


/* media */

#instaLogo,
#facebookLogo,
#twitterLogo,
#pinterstLogo {
    width: clamp(15px, 2.5vw, 25px);
    margin-left: clamp(0px, 1vw, 20px);
}

/* welcome section and photo */

#welcomeDiv {
    width: 100dvw;
    display: flex;
    justify-content: center;
    gap: 5dvw;
    margin-top: 50px;
}

/* welcome div part */
#welcomePart h1 {
    font-size: var(--hugeFontSize);
    font-family: "Cormorant Infant";
    color: var(--pureWhite);
}

#welcomePart p {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    color: var(--pureWhite);
    margin: 20px 0;
}

#welcomePart button {
    min-width: 12dvw;
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--fontWhite);
    background-color: transparent;
    border: 2px solid var(--orange);
}

#welcomePart {
    width: 37dvw;
}


/* image div part */
#imagePart {
    position: relative;
    width: 33dvw;
}

#gearIcon {
    width: 20dvw;
    right: -10dvw;
    top: 10px;
    position: absolute;
}


#imagePart img {
    position: relative;
    width: 30dvw;
    border: 2dvw solid var(--outlineGrey);
    border-bottom: none;
    z-index: 5;
    border-radius: 1000px 1000px 0 0;
    margin: 20px 20px 0 20px;
}

/* Location openhours reservation details */

#detailsContainer {
    margin: 150px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.detailsCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detailsCard svg {
    width: clamp(25px, 5.2vw, 45px);
    padding: 10px;
    margin: 10px;
    background-color: var(--darkGrey);
    border-radius: 800px;
}

.detailsCard div h2 {
    font-size: clamp(20px, 3vw, 30px);
    font-family: "Cormorant Infant";
    color: var(--darkGrey);
    margin: 10px;
}

/* The Story */

#theStory {
    width: 100dvw;
    display: flex;
    justify-content: center;
    gap: 8dvw;
    margin: 50px 0 100px 0;
}

#theStory img {
    width: 38dvw;
    object-fit: contain;
    position: relative;
}

#theStory svg {
    width: 100px;
    margin-top: 30px;
}

#theStory h4 {
    margin-top: 20px;
}

#theStoryRightSide {
    width: 38dvw;
    position: relative;
}

#theStoryRightSide::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4dvw;
    height: 100%;
    width: 1px;
    background: var(--verticalColor);
}



#theStoryTwoSides {
    width: 33dvw;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#theStory h2,
#theStory h3 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    margin: 10px 0 0 0;
}

#theStory p {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    margin: 10px 0 10px 0;
}

/* menu part */
#menuPart {
    padding: 100px 0;
    background-color: var(--pureWhite);
}

#menuPart h3:first-of-type {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    text-transform: uppercase;
    margin: 0 0 0 7.7dvw;
    padding: 5px 0 1px 0;
    width: fit-content;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}


#menuMainContainer {
    width: 100dvw;
    display: flex;
    justify-content: center;
    gap: 7dvw;
}

/* offer part */
#menuOffer {
    width: 25dvw;
}

#menuOffer h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    margin-bottom: 20px;
}

#menuOffer p {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    margin: 30px 0;
}

#menuOffer img {
    width: 25dvw;
}

#menuOffer button {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--orange);
    background-color: transparent;
    border: 2px solid var(--orange);
    margin-top: 20px;
}

/* menu part */
#menu {
    width: 53dvw;
}

#menu>h2:not(:first-child) {
    margin-top: 70px;
}

/* course cards */
.courseCards {
    display: flex;
    align-items: flex-end;
}

.courseCards:not(:first-child) {
    margin-top: 40px;

}

.courseCards img {
    width: clamp(40px, 8vw, 100px);
    border: 1px solid var(--lightGrey);
    margin-right: 20px;
    border-radius: 800px;
}

.courseCards h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    text-wrap: nowrap;
}

.courseCards p {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
}

.courseCards .hr {
    width: 20dvw;
    margin: 2px 20px;
    border: none;
    border-bottom: 1px dashed var(--hrColor);
    position: relative;
}


.courseCards .hr::before,
.courseCards .hr::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    aspect-ratio: 1 / 1;
    background-color: var(--hrColor);
    border-radius: 50%;
}

.courseCards .hr::before {
    transform: translate(-50%, -50%);
    left: -5px;
}

.courseCards .hr::after {
    transform: translate(50%, -50%);
    right: -5px;
}


/* review section */
#overflowHidden {
    width: 100dvw;
    overflow: hidden;
}

#Testimonial {
    background-color: var(--darkGrey);
    color: var(--pureWhite);
    padding: 70px 0;
    position: relative;
    width: 100dvw;
}

#Testimonial>h3:first-of-type {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    text-transform: uppercase;
    margin: 0 0 10px 7.7dvw;
    padding: 5px 0 1px 0;
    width: fit-content;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#Testimonial>h2:first-of-type {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    margin: 10px 0 0 7.7dvw;
    padding: 5px 0 1px 0;
    width: fit-content;
}

#Testimonial>h3:nth-of-type(2) {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    margin: 10px 0 0 7.7dvw;
    padding: 5px 0 1px 0;
    width: fit-content;
}

#Testimonial svg {
    width: 20px;
}

.customersReviews {
    display: flex;
    transition: all 0.5s ease-in-out;
    width: 2000dvw;

}

/*  review cards*/
.reviewCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 28dvw;
    aspect-ratio: 1/1;
    background: var(--lightGrey);
    padding: 2dvw;
    margin: 2dvw;
}

.reviewCard:first-of-type {
    margin-left: 50px
}

.reviewCard>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewCard h2 {
    font-family: "Cormorant Infant";
    font-size: var(--smallMediumFontSize);
    margin: 10px;
    text-wrap: nowrap;
}

.reviewCard h3 {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    color: var(--orange);
    margin: 10px;

}

.reviewCard p {
    font-family: "Cormorant Infant italic";
    font-size: var(--smallFontSize);
    margin: 10px;

}

.reviewCard img {
    width: clamp(30px, 7dvw, 100px);
    border-radius: 1000px;
}

/* slider buttons */
#goLeft,
#goRight {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--sliderButtonsColor);
    border: none;
    border-radius: 50%;
    z-index: 10;
    color: var(--darkGrey);
    opacity: 0.4;
    transition: all 300ms ease-in-out;
    font-size: 10px;
}

#goLeft:hover,
#goRight:hover {
    opacity: 1;
}

#goLeft {
    left: 15px;
    top: 55%;
}

#goRight {
    right: 15px;
    top: 55%;
}

/* lonly image */
#lonlyImage {
    width: 100dvw;
    aspect-ratio: 1920/608;
    object-fit: cover;
    object-position: 0 23%;
}

/* offer */

#offer {
    color: var(--darkGrey);
    padding: 20px 0;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#offer h3 {
    font-family: "Josefin Sans";
    font-size: var(--mediumFontSize);
    padding: 6px 0 1px 0;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    margin: 40px 0 10px 0;
}

#offer h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    padding: 5px 0 1px 0;
    margin-bottom: 10px;
}

#offer p {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.offerPics {
    width: fit-content;
}

.offerPics img {
    width: 37dvw;
    margin: 2dvw;
}

/* menuSpecialOffer */

#menuSpecialOffer {
    color: var(--darkGrey);
    padding: 20px 0;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menuSpecialOffer>h3 {
    font-family: "Josefin Sans";
    font-size: var(--mediumFontSize);
    padding: 6px 0 1px 0;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    margin: 20px 0 10px 0;
}

#menuSpecialOffer>h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    padding: 5px 0 1px 0;
    margin-bottom: 10px;
}

#menuSpecialOffer>p {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    width: 450px;
    text-align: center;
    margin-bottom: 10px;
}

#menuSpecialOffer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
}

#menuSpecialOffer img {
    width: 20dvw;
    aspect-ratio: 1/1;
    margin: 1dvw;
}

.specialOfferCard>h2 {
    font-family: "Cormorant Infant";
    font-size: var(--mediumFontSize);
}

.specialOfferCard>p {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    margin: 10px;
    font-weight: 800;
    width: 12dvw;
}

.specialOfferCard>hr {
    width: 15dvw;
    margin-left: 1dvw;
    border: 1px solid var(--outlineGrey);
    opacity: 0.1;
}

#menuSpecialOffer button {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--orange);
    background-color: transparent;
    border: 2px solid var(--orange);
    margin-top: 20px;
}

#WhatWeOffer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkGrey);
    color: var(--pureWhite);
    padding: 90px 40px;
}

#textPart>h3 {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    text-transform: uppercase;
    padding: 5px 0 1px 0;
    width: fit-content;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#textPart>h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    padding: 5px 0 1px 0;
    margin-bottom: 10px;
}

#textPart>p {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    padding: 5px 0 1px 0;
    width: 300px;
    font-weight: 800;
    margin-bottom: 30px;
}

.weOfferCard {
    width: 15dvw;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 20px solid #323841;
    padding: 15px;
}

.weOfferCard>h2 {
    font-size: var(--smallFontSize);
    font-family: "Cormorant Infant";
}

.weOfferCard svg {
    width: 50px;
    margin: 20px;
}

#justAContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4dvw;
}



/* book section */
#bookSection {
    position: relative;
    background: url('images/bookSectionBackGround.png');
    width: 100dvw;
    aspect-ratio: 1920/1080;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontWhite);
}

#bookSection form {
    background-color: #292e36e4;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70dvw;
    padding: 100px;
}

#bookSection form>h3 {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    text-transform: uppercase;
    padding: 5px 0 1px 0;
    width: fit-content;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#bookSection form>h2 {
    font-family: "Cormorant Infant";
    font-size: var(--largeFontSize);
    padding: 5px 0 1px 0;
    margin-bottom: 10px;
}

#bookSection form>div {
    width: 60dvw;
}

.g1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g1>input {
    width: 48%;
}

.g2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g2>input {
    width: 30%;
}

#bookSection input,
#footerG3 input {
    padding: var(--buttonPadding);
    background-color: transparent;
    border: 1px solid var(--hrColor);
    margin: 10px;
}

#bookSection input::placeholder,
#footerG3 input::placeholder {
    color: var(--fontWhite);
    font-size: var(--smallFontSize);
}

#bookSection button {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--darkGrey);
    background-color: var(--pureWhite);
    border: none;
    margin-top: 20px;
}


/* footer */

footer {
    background-color: var(--darkGrey);
    color: var(--pureWhite);
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#footerG1 {
    width: 85dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

#footerG1>h3 {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    padding: 5px 0 1px 0;
    width: fit-content;
    border-bottom: 2px solid var(--fontWhite);
}

#footerLogo {
    max-width: 22dvw;
    min-width: 150px;
}

#footerG2 {
    width: 85dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerG2>h3 {
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    text-transform: uppercase;
    padding: 5px 0 1px 0;
    width: fit-content;
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#footerG2>p {
    font-family: "Cormorant Infant";
    font-size: var(--smallFontSize);
    width: 33dvw;
    max-width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

#footerG3 {
    width: 85dvw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footerG3 p,
#footerG3 address {
    font-style: normal;
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    padding: 5px 0 1px 0;
    width: fit-content;
}


#footerG3 div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: end;

}

#footerG3 div:nth-of-type(2) {
    display: flex;

    gap: 0;
}


#footerG3 input {
    width: 20dvw;
    margin: 0;
}

#footerG3 button {
    font-size: var(--smallFontSize);
    font-family: "Josefin Sans";
    padding: var(--buttonPadding);
    color: var(--darkGrey);
    background-color: var(--pureWhite);
    border: none;
}

footer hr {
    border: 2px solid var(--outlineGrey);
    width: 100dvw;
    margin-top: 30px;
}

#footerG4 {
    width: 85dvw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footerG4 p {
    font-style: normal;
    font-family: "Josefin Sans";
    font-size: var(--smallFontSize);
    padding: 5px 0 1px 0;
    margin: 30px 0;
    width: fit-content;
}

@media screen and (max-width:1000px) {
    #WhatWeOffer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    #textPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #textPart>p {
        font-family: "Cormorant Infant";
        font-size: var(--smallFontSize);
        padding: 5px 0 1px 0;
        width: fit-content;
        font-weight: 800;
    }

    #justAContainer {
        gap: 12dvw;
    }
}


:root {
    --orange: #E1B168;
    --darkGrey: #292E36;
    --lightGrey: #343942;
    --white: #FFF8F5;

    --pureBlack: #000000;
    --pureWhite: #FFFFFF;

    --fontBlack: #5C6168;
    --fontWhite: #dedede;

    --outlineGrey: #393E44;
    --hrColor: #aaaaaa;
    --sliderButtonsColor: #d9d9d9;

    --verticalColor: #B29A90;

    --smallFontSize: clamp(10px, 1.4vw, 15.5px);
    --smallMediumFontSize: clamp(10px, 2vw, 30px);
    --mediumFontSize: clamp(20px, 2vw, 25px);
    --largeFontSize: clamp(20px, 3.1vw, 35px);
    --hugeFontSize: clamp(40px, 7vw, 78px);

    --buttonPadding: clamp(6px, 1.1dvw, 16px) clamp(9px, 2dvw, 50px);
}

@font-face {
    font-family: "Josefin Sans";
    src: url(./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Cormorant Infant";
    src: url(./fonts/Cormorant_Infant/CormorantInfant-Regular.ttf);
}

@font-face {
    font-family: "Cormorant Infant italic";
    src: url(./fonts/Cormorant_Infant/CormorantInfant-Italic.ttf);
}



/* media queries */

@media screen and (max-width: 885px) {
    #details {
        align-self: center !important;
        width: fit-content;
        margin: auto;
    }

    #details svg {
        width: clamp(40px, 8vw, 60px);
    }

    #detailsContainer {
        display: flex;
        align-items: start;
        flex-direction: column;
        width: fit-content;
    }

    .detailsCard {
        align-items: center;
    }


    .courseCards {
        display: flex;
        flex-wrap: wrap;
    }

    .courseCards .hr {
        width: 32dvw;
    }
}


.orange {
    color: var(--orange);
}